/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
-----------------*/

body {
    font-family: 'Open Sans', sans-serif;
}
.container-large {
    max-width: 1300px;
    margin: auto;
}

.small-container {
    max-width: 980px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*----------------
    BUTTONS
-----------------*/
.button {
    border: none;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: #0061ff;
    color: white;
}

.free-trial-button {
    margin-top: 20px;
    margin-bottom: 5px;
}

.thirtydays {
    padding: 6px 51px;
    font-size: 10px;
    text-align: center;
}

.partner-button {
    background-color: white;
    color: black;
    margin: 15px 0;
    border: 1px solid black;
}

/*----------------
    HEADER
-----------------*/

header {
    position: fixed;
    vertical-align: middle;
    width: 1300px;
    z-index: 10;
    background-color: white;
}

.header-right, .header-left {
    width: 50%;
    display: inline-block;
}

.logo, .main-nav, li, a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 12px;
}

.header-right {
    text-align: right;
    padding-right: 12px;
}
/*----------------
    HERO
-----------------*/

.hero {
    background-color: #b4d0e7;
}

.hero-central-text {
    text-align: left;
    font-size: 65px;
    font-weight: 700;
    padding: 60px 90px 30px 90px;
}

.row-hero {
    position: relative;
}
.hero-left {
    width: 40%;
    padding: 10px 85px 30px 90px;
    font-size: 13px;
    font-weight: 700;
    float: left;
}

.hero-left small {
    display: block;
}

.hero-right {
    width: 60%;
    float: left;
}

.hero-img {
    width: 90%;
    padding-top: 10px;
    margin-bottom: -65px;
}

.down-arrow {
    padding-top: 30px;
    font-size: 35px;
}
/*----------------
    MAIN
-----------------*/

/* SUBSCRIPTION SECTION */

#annuale, #mensile {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 30px;
}

#annuale:checked, #mensile:checked {
    border-color: #0061ff;
    border-width: 3px;
}

.subscription-title h2 {
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 40px;
    margin-left: 30px;
}

.subscription-title {
    padding-top: 170px;
}

.radio-buttons {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
}

.radio-buttons-right {
    padding-left: 20px;
}

.col-left, .col-mid, .col-right {
    min-height: 750px;
    width: calc(100% / 3 - 60px);
    float: left;
    margin: 30px; 
    border: solid 1px lightgray;
}

.col-text {
    padding: 20px;
}

.col-text h5 {
    font-size: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.col-text ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.col-text li {
  padding-left: 1em;
  text-indent: -1em;
}

.col-text li:before {
  content: "\2714";
  padding-right: 3px;
  color: blue;
}

.fa-building:before {
    font-size: 12px;
}

.fa-user-plus { 
    padding-right: 3px;
}

.col-bottom {
    width: 920px;
    margin: 10px 30px 15px 30px; 
    border: solid 1px lightgray;
}

.col-bot-text {
    position: relative;
    padding-bottom: 0px;
}

.sub-kind {
    display: block;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    border-bottom: solid 1px lightgray;
    font-weight: 600;
    font-size: 11px;
}

.fa-regular {
    padding: 0px 3px;
}

.pro {
    font-weight: 800;
    padding-bottom: 13px;
    font-size: 22px;
}

.price {
    font-weight: 800;
    font-size: 15px;
}

.month, .solutions {
    display: block;
    font-size: 11px;
    font-weight: 600;
    color: #637381;
    margin-top: 5px;
    margin-bottom: 30px;
}

.user-description {
    border: none;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 0;
}

.fa-pencil {
    margin-right: 4px;
}

.buy-now {
    color: blue;
    font-size: 10px;
    padding: 0px;
    vertical-align: baseline;
}

hr {
    width: 17%;
    color: lightgray;
    opacity: .2;
    margin-bottom: 25px;
}

.plan {
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 800;
}

.plan-points {
    padding: 8px 0px;
    font-size: 11px;
    font-weight: 600;
}

.contact-office-button {
    position: absolute;
    top: 0px;
    right: 15px;
}

.enterprise {
    padding-bottom: 8px;
}

.contact-price {
    padding-bottom: 13px;
}

.solutions {
    font-weight: 700;
    color: #000000;
}

/*----------------
    PARTNER SECTION (IMG LEFT, TEXT RIGHT)
-----------------*/

.partner-img {
    width: 50%;
    display: inline-block;
}

.partner-text {
    width: 50%;
    float: right;
    padding: 90px 60px;
}

.photo-partner {
    width: 110%;
    padding: 70px 30px;
}

h3 {
    font-weight: 800;
    font-size: 22px;
}

.partner-subtext {
    font-size: 12px;
    padding-top: 13px;
    line-height: 1.6;
}
/*----------------
    Business section
-----------------*/
.business-title {
    padding-top: 20px;
}
/*----------------
    FOOTER
-----------------*/

