/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
-----------------*/

body {
    font-family: 'Open Sans', sans-serif;
}

.container-large {
    max-width: 1300px;
    margin: auto;
}

.small-container {
    max-width: 980px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*----------------
    BUTTONS
-----------------*/
.button {
    border: none;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: #0061ff;
    color: white;
}

.free-trial-button {
    margin-top: 20px;
    margin-bottom: 5px;
}

.thirtydays {
    padding: 6px 51px;
    font-size: 10px;
    text-align: center;
}

.partner-button {
    background-color: white;
    color: black;
    margin: 15px 0;
    border: 1px solid black;
}

.radio-buttons {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
}

.radio-buttons-right {
    padding-left: 20px;
}

.contact-office-button {
    position: absolute;
    top: 0px;
    right: 15px;
}

.clients {
    margin: 15px 30px;
    font-size: 11px;
    color: #0061ff;
    padding: 0;
    font-weight: 700;
}

.undersquare-button {
    position: absolute;
    top: 70px;
    right: 230px;
    padding: 5px 25px;
    background-color: white;
    color: black;
    animation: pulsebg infinite 2s;
}

@keyframes pulsebg {
	0% { background-color: white} 
    0% { color: black} 
	50% { background-color: black}
    50% { color: white} 
    75% { background-color: white} 
    75% { color: black} 
}

/*----------------
    TYPO
-----------------*/
p {
    font-size: 11px;
    font-weight: 700;
    padding-top: 10px;
}

.col-text h5 {
    font-size: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 800;
    font-size: 28px;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 12px;
    border-radius: 30px;
}

ul a:hover {
    box-shadow: 0px 0px 30px 10px #b4d0e7;
}

.team-title h3 {
    margin-left: 30px;
    max-width: 49%;
    font-size: 32px;
}

.undersquare-row h3 {
    color: #61082b;
}
/*----------------
    HEADER
-----------------*/

header {
    position: fixed;
    vertical-align: middle;
    width: 1300px;
    z-index: 10;
    background-color: white;
}

.header-right, .header-left {
    width: calc(50% - 3px);
    display: inline-block;
}

header .logo, header .main-nav, header li, header a {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
}

.header-right {
    text-align: right;
    padding-right: 12px;
}
/*----------------
    HERO
-----------------*/

.hero {
    background-color: #b4d0e7;
}

.hero-central-text {
    text-align: left;
    font-size: 65px;
    font-weight: 700;
    padding: 60px 90px 30px 90px;
}

.row-hero {
    position: relative;
}

.hero-left {
    width: 40%;
    padding: 10px 85px 30px 90px;
    font-size: 13px;
    font-weight: 700;
    float: left;
}

.hero-left small {
    display: block;
}

.hero-right {
    width: 60%;
    float: left;
}

.hero-img {
    width: 90%;
    padding-top: 10px;
    margin-bottom: -65px;
    transition: transform 1s;
}

.hero-img:hover {
    transform: scale(1.5);
}

.down-arrow {
    padding-top: 30px;
    font-size: 35px;
    cursor: pointer;
    animation: pulse infinite linear 1s;
}

@keyframes pulse {
	0% { padding-top: 25px;} 
	50% { padding-top: 45px; } 
	100% { padding-top: 25px; }
}
/*----------------
    MAIN
-----------------*/

/* SUBSCRIPTION SECTION */

#annuale, #mensile {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 30px;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
}


#annuale:checked, #mensile:checked {
    border-color: #0061ff;
    border-width: 3px;
}

.subscription-title h2 {
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 15px;
    margin-left: 30px;
}

.faq-title h2 {
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 55px;
}

.subscription-title {
    padding-top: 160px;
}

.col-left, .col-mid, .col-right {
    min-height: 750px;
    width: calc(100% / 3 - 60px);
    float: left;
    margin: 30px; 
    border: solid 1px lightgray;
}

.col-left:hover, .col-mid:hover, .col-right:hover, .col-bottom:hover {
    box-shadow: 0px 0px 30px 10px #0061ff;
}

.col-text {
    padding: 20px;
}

.col-text ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.col-text li {
  padding-left: 1em;
  text-indent: -1em;
}

.col-text li:before {
  content: "\2714";
  padding-right: 3px;
  color: blue;
}

.fa-building:before {
    font-size: 12px;
}

.fa-user-plus { 
    padding-right: 3px;
}

.col-bottom {
    width: 920px;
    margin: 10px 30px 15px 30px; 
    border: solid 1px lightgray;
}

.col-bot-text {
    position: relative;
    padding-bottom: 0px;
}

.sub-kind {
    display: block;
    text-align: center;
    padding: 8px;
    font-weight: 500;
    border-bottom: solid 1px lightgray;
    font-weight: 600;
    font-size: 11px;
}

.fa-regular {
    padding: 0px 3px;
}

.pro {
    font-weight: 800;
    padding-bottom: 13px;
    font-size: 22px;
}

.price {
    font-weight: 800;
    font-size: 15px;
}

.month, .solutions {
    display: block;
    font-size: 11px;
    font-weight: 600;
    color: #637381;
    margin-top: 5px;
    margin-bottom: 30px;
}

.user-description {
    border: none;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 0;
}

.fa-pencil {
    margin-right: 4px;
}

.buy-now {
    color: blue;
    font-size: 10px;
    padding: 0px;
    vertical-align: baseline;
}

.col-text hr {
    width: 17%;
    color: lightgray;
    opacity: .2;
    margin-bottom: 25px;
}

.plan {
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 800;
}

.plan-points {
    padding: 8px 0px;
    font-size: 11px;
    font-weight: 600;
}

.enterprise {
    padding-bottom: 8px;
}

.contact-price {
    padding-bottom: 13px;
}

.solutions {
    font-weight: 700;
    color: #000000;
}

/*----------------
    PARTNER SECTION (IMG LEFT, TEXT RIGHT)
-----------------*/

.partner-img {
    width: 50%;
    display: inline-block;
}

.partner-text {
    width: 50%;
    float: right;
    padding: 90px 60px;
}

.photo-partner {
    width: 110%;
    padding: 70px 30px;
    transition: transform 1s;
}

.photo-partner:hover {
    transform: scale(1.5);
}
.partner-subtext {
    font-size: 12px;
    padding-top: 13px;
    line-height: 1.6;
}
/*----------------
    Business section
-----------------*/
.left-col, .mid-col, .right-col {
    width: calc(100% / 3 - 60px);
    margin: 30px;
    float: left;
    min-height: 400px;
}

.left-col:hover, .mid-col:hover, .right-col:hover {
    box-shadow: 0px 0px 30px 10px #0061ff;
}

.left-img {
    background-image: url('../img/business-feature-switching-tools.png');
}

.mid-img {
background-image: url('../img/business-feature-coordinate-it.png');
}

.right-img {
background-image: url('../img/business-feature-multi-device.png');
}

.bot-left-img {
    background-image: url('../img/business-feature-integrations-it.png');
}

.bot-mid-img {
    background-image: url('../img/business-feature-send-files-it.png');
}

.bot-right-img {
    background-image: url('../img/business-feature-security.png');
}

.left-img, .mid-img, .right-img, .bot-left-img, .bot-mid-img, .bot-right-img {
    width: 100%;
    height: 200px;
    background-position:  center ;
    background-size: cover;
    background-repeat: no-repeat;
}

.row-down-col {
    margin-bottom: 50px;
}

.business-title {
    padding-top: 0;
}

.business-title-col {
    font-weight: 800;
    font-size: 20px;
    padding: 10px 0;
}

.business-article {
    font-size: 12px;
    font-weight: 700;
}
/*----------------
    TEAM SECTION
-----------------*/
.team-left-col, .team-right-col {
    width: 30%;
    float: left;
    min-height: 300px;
    background-color: #0061ff;
}

.team-mid-col {
    width: 40%;
    float: left;
    min-height: 300px;
    padding: 30px;
    cursor: pointer;
}

.team-mid-col:hover {
    color: white;
    background-color: black;
    transition: 2s;
}
.team-row {
    padding-top: 20px;
}

.team-left-col, .team-right-col {
    position: relative;
}

.first-square, .first-square-right {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.disegnit {
    width: 27%;
    padding-bottom: 20px;
}

.team-left-col div, .team-right-col div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 50%;
    height: 50%;
    position: absolute;
}

.square:hover {
    box-shadow: inset 0px 0px 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.first-square {
    background-image: url('../img/designit-w.svg');
    background-color: #a2d39b;
}

.second-square {
    background-image: url('../img/arizona_state_university.svg');
    background-color: #61082b;
}

.third-square {
    background-image: url('../img/university_of_florida.svg');
    background-color: #0093ce;
}

.fourth-square {
    background-image: url('../img/topps.svg');
    background-color: #ff1c1c;
}

.first-square-right {
    background-image: url('../img/world_bicycle_relief.svg');
    background-color: #d5001f;
}

.second-square, .second-square-right {
    top: 0;
    right: 0;
}

.second-square-right {
    background-image: url('../img/hearst_corp.svg');
    background-color: #b4d0e7;
}

.third-square, .third-square-right {
    bottom: 0;
    left: 0;
}

.third-square-right {
    background-image: url('../img/lonely_planet.svg');
    background-color: #0d2481;
}

.fourth-square, .fourth-square-right {
    bottom: 0;
    right: 0;
}

.fourth-square-right {
    background-image: url('../img/clear_channel.svg');
    background-color: #ffd830;
}

.undersquare-row {
    width: 100%;
    background-color: #b4d0e7;
    min-height: 250px;
    padding: 85px 688px 90px 235px;
    position: relative;
    margin-bottom: 100px;
}
/*----------------
    FAQ SECTION
-----------------*/
.accordion {
    background: white;
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.tab {
    border-top: 1px solid black;
    padding-top: 19px;
}

.accordion .title {
    font-size: 20px;
}

.accordion label {
    float: right;
    width: 20px;
    height: 20px;
    padding: 5px;
}

.accordion label .mark {
     height: 10px;
     width: 10px;
     border-left: 4px solid #121212;
     border-bottom: 4px solid #121212;
     transition: transform 1s ease;
     transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

.accordion input[type=checkbox] {
    display: none;
    float: right;
}

.accordion input[type=checkbox]:checked ~ .panel {
     height: 120px;
}
.accordion input[type=checkbox]:checked ~ label .mark {
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.accordion .panel {
    margin: 10px 10px;
     height: 0px;
     transition: height ease 1s, padding ease 1s;
     overflow: hidden;
     border-radius: 5px;
}

.tab .title {
    font-weight: bold;
}

.panel u {
    font-weight: bold;
}


/*----------------
    FOOTER
-----------------*/

footer {
    margin-top: 80px;
    background-color: black;
    min-height: 400px;
    color: white;
}

.footer-col {
    padding: 50px 60px;
}

.footer-col .col {
    width: calc(100% / 5);
    float: left;
    min-height: 270px;
    padding: 10px 35px;
}

.col:hover {
    box-shadow: 0px 0px 30px 10px #fff;
}

.col li {
    list-style-type: none;
    line-height: 2;
    font-size: 12px;
    cursor: pointer;
}

.col h3 {
    font-size: 18px;
    margin-bottom: 14px;
}

.hr-footer {
    max-width: 10%;
    margin: 35px 35px;
}

.bottom-footer {
    margin-left: 35px;
    cursor: pointer;
    display: inline;
}

.bottom-footer:hover {
    box-shadow: 0px 0px 30px 10px #fff;
}

.language {
    color: #666666;
    font-size: 11px;
}

.fa-earth-americas {
    margin-right: 6px;
}

.fa-caret-up {
    margin-left: 4px;
}
