/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
-----------------*/

body {
    font-family: 'Open Sans', sans-serif;
}
.container-large {
    max-width: 1300px;
    margin: auto;
}

.container-small {
    max-width: 1080px;
    margin: auto;
}

/*----------------
    BUTTONS
-----------------*/
.button {
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 7px 15px;
}
/*----------------
    HEADER
-----------------*/

.header {
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-right, .header-left {
    width: 49%;
    display: inline-block;
}

.logo, .main-nav, li, a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 12px;
}

.header-right {
    text-align: right;
}
/*----------------
    MAIN
-----------------*/
.hero {
    background-color: #b4d0e7;
}

.hero-central-text {
    text-align: left;
    font-size: 55px;
    font-weight: 700;
    padding: 60px 90px;
}
/*----------------
    FOOTER
-----------------*/